<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarMedicos( input.value )" type="text" class="form-control" placeholder="Buscar medico...">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando...</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-right">
                    <button [routerLink]="['/medico', 'nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                      <i class="fa fa-plus"></i>
                      Crear Médico
                  </button>
                </div>
                <h3 class="card-title">Médicos registrados ( <small>{{ totalRegistros }}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Médico</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <th class="w70">
                                <img [src]="medico.img | imagen:'medico'" class="img-50 img-circle">
                            </th>
                            <th>{{ medico.nombre }}</th>
                            <th>{{ medico.hospital.nombre }}</th>
                            <th>
                                <button [routerLink]="['/medico', medico._id]" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                          </button>
                                <button (click)="borrarMedico( medico )" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                          </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">
          Anteriores
        </button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary">
      Siguientes
    </button>
            </div>
        </div>
    </div>
</div>